fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
faiss-cpu
pypdf
python-docx
openpyxl
beautifulsoup4
requests
python-dotenv
pydantic
pydantic-settings
ollama


PyPDF2 
python-docx 
openpyxl